.tableSection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  width: 100px;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-2fdn {
  text-align: center;
  vertical-align: middle;
}
.tg .tg-0lax {
  text-align: center;
  vertical-align: middle;
}
.detailsPop {
  background: linear-gradient(skyblue, pink);
  width: 100%;
  height: 100%;
}
.close > img {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 20px;
  top: 20px;
}
.Counter {
  margin-top: 20px;
  background-color: blue;
  color: white;
  border-radius: 50%;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 10px;
}
.Counter > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cart {
  margin-top: 20px;
  background-color: blue;
  border-radius: 50%;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 10px;
}
.Cartimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.CartSize {
  background-color: blue;
  top: -25px;
  display: flex;
  position: absolute;
  right: -7px;
  color: #fff;
  width: 20px;
  border-radius: 50%;
  justify-content: center;
}
