.footer {
  display: flex;
  background: #1800ff;
  height: 300px;
  width: 100%;
  bottom: 0;
}

.quote {
  padding-top: 50px;
  font-size: 1.5rem;
  color: #fff;
  font-style: italic;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quoteBy {
  font-size: 1rem;
  color: #fff;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
